<div class="search-open" style="display: block;">
    <div class="input-group animated fadeInDown">
        <form ng-submit="tutorCtrl.searchJob()">
            <input type="text" class="form-control" placeholder="Search" ng-model="subjectSearch">
        </form>
        <span class="input-group-btn">
            <button class="btn-u" type="button" ng-click="tutorCtrl.searchJob()">Go</button>
        </span>
    </div>
</div>
<br/><br/>

<!-- Begin Table Search v1 -->
<div class="table-search-v1 panel panel-grey margin-bottom-50">
    <div class="panel-heading">
        <h3 class="panel-title pull-left"><i class="fa fa-globe"></i> {{resultLabel}}</h3>
        <div class="pull-right">
            <div class="btn-group navbar-right">
                <button data-toggle="dropdown" class="btn-u btn-u-default btn-u-split-default dropdown-toggle" type="button">
                    <i class="fa fa-cog"></i>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul role="menu" class="dropdown-menu">
                    <li><a href="#"><i class="fa fa-arrows-alt"></i> Fullscreen</a></li>
                    <li><a href="#"><i class="fa fa-unlink"></i> Some Links</a></li>
                    <li><a href="#"><i class="fa fa-list"></i> Main Links</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="fa fa-cloud-download"></i> Download All</a></li>
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Subject</th>
                <th class="hidden-sm">Note</th>
                <th>Headquarters</th>
                <th>Progress</th>
                <th>Status</th>
                <th>Contacts</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in jobs">
                <td>
                    <a href="#">{{item.subject.title}}</a>
                    <ul class="list-inline star-vote">
                        <li><i class="color-green fa fa-star"></i></li>
                        <li><i class="color-green fa fa-star"></i></li>
                        <li><i class="color-green fa fa-star"></i></li>
                        <li><i class="color-green fa fa-star-half-o"></i></li>
                        <li><i class="color-green fa fa-star-o"></i></li>
                    </ul>
                </td>
                <td class="td-width">{{item.note}}</td>
                <td>
                    <div class="m-marker">
                        <a href="#"><i class="color-green fa fa-map-marker"></i></a>
                        <a class="display-b" href="#">USA</a>
                        <a href="#">Palo Alto,</a>
                        <a href="#">CA</a>
                    </div>
                </td>
                <td>
                    <div class="progress progress-u progress-xxs">
                        <div style="width: 88%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="88" role="progressbar" class="progress-bar progress-bar-u">
                        </div>
                    </div>
                </td>
                <td><button class="btn btn-block btn-success btn-xs"><i class="icon-graph"></i> High</button></td>
                <td>
                    <span>1(123) 456</span>
                    <span><a href="#">info@example.com</a></span>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
</div>
<!-- End Table Search v1 -->