<!--Begin Sidebar Menu-->
<div class="col-md-3">
    <ul class="list-group sidebar-nav-v1">
        <li class="list-group-item"><a><h5>Filter by Subject Groups</h5></a></li>
        <!--<li class="list-group-item"><a><h5>Filter by Subject Groups</h5></a></li>-->
        <li class="list-group-item"><a href ng-click="subjCtrl.filterSubject(0)">All</a></li>
        <li ng-repeat="group in subjCtrl.subjectGroups" class="list-group-item">
            <a href ng-click="subjCtrl.filterSubject(group.id)">{{group.category_name}}</a>
        </li>
    </ul>
</div>
<!--End Sidebar Menu-->

<style>
    label {
        margin-right: 20px;
    }

    label input[type="checkbox"] {
        margin-right: 10px;
    }
</style>
<!--Begin Content-->
<div class="col-md-9">
    <div class="row margin-bottom-10">
        <div class="col-md-9">
            <div class="bg-light">
                <h5>Subjects</h5>

                <div class="row">
                    <div class="col-md-3" ng-repeat="subject in subjCtrl.subjects | bysubjectcategory:subjCtrl.subjectCategory">
                        <label><input type="checkbox"
                                                        ng-checked="tutorCtrl.user.tutor.subjects.indexOf(subject.id) >= 0"
                                                        ng-click="tutorCtrl.addSubject(subject.id)">{{subject.title}}</label>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--/row-->
</div>
