<h4 >Personalize Your Profile</h4>

    <p>Personalize your profile with an eye-catching title, a photo of yourself (optional), and a few descriptive
        paragraphs about you and your tutoring methods. View an example of a great tutor profile and
        free response.</p>

    <div class="form-group">
        <label> Upload Photo </label>
            <span class="help-block">Tutors with a photo on their profile receive three times more business than tutors
                without one. You may upload a photo later or change your photo at any time.</span>
        <input type="file" class="form-control" ng-file-select="tutorCtrl.fileSelect($files)">

    </div>
    <div class="form-group">
        <label>Profile Headline</label>
                   <span class="help-block">This heading will be displayed at the top of your profile page.
                Please try to be descriptive about what you tutor to attract the most students.
                For your privacy, we recommend against using your full name in your profile title.</span>

        <input type="text" class="form-control" ng-model="tutorCtrl.user.tutor.profile_title">

    </div>
    <div class="form-group">
        <label>Profile Detail</label>
               <span class="help-block">The free response section is your chance to stand out.
                Be descriptive, be thorough, and be yourself as you tell potential students and parents about your
                experience and tutoring methods. </span>
        <textarea rows="15" class="form-control" ng-model="tutorCtrl.user.tutor.profile_summary"></textarea>


    </div>
</div>