<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">
		  <span ng-if="title">{{title}}</span>
		  <span ng-if="!title">Send Message</span></h4>
      </div>

      <div class="modal-body">
        <mail-compose-modal message="message" hide="$hide">
		  
		</mail-compose-modal>
    </div>
  </div>
</div>
