<div class="container content">
<!--contact info-->
<div class="contact-info">
    <div class="headline"><h4>Contact Information</h4></div>
    <div class="row">
        <div class="col-md-4 form-group">
            <input type="text" class="form-control" ng-model="student.first_name" name="firstname" placeholder="First Name">
        </div>
        <div class="col-md-4  form-group">
            <input type="text" class="form-control" name="lastname" placeholder="Last Name">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 form-group">
            <input type="email" class="form-control" name="email" placeholder="Email">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-group">
            <input type="text" class="form-control" name="phone" placeholder="Phone Number">
            <p class="help-block">Do not add +234 or 234. Enter your 11 digits phone number </p>
        </div>
    </div>

    <statetownarea
            state-default="Select your state"
            town-default="Select your nearest town"
            area-default="Select your nearest area"
            selected-state="selectedState"
            selected-town="selectedTown"
            selected=selectedArea
            form="this.form"
            required-fields="sta"
            ng-model="user"></statetownarea>

    <div class="row">
        <div class="col-md-4 form-group">
            <select id="sel-source" name="source" class="form-control chosen-select">
                <option selected="selected" value="0">How did you hear about us?</option>
                <option value="1">Word of mouth</option>
                <option value="2">One of our tutors</option>
                <option value="3">One of our students</option>
                <option value="4">In the news</option>
                <option value="5">Google</option>
                <option value="6">Facebook</option>
                <option value="7">Twitter</option>
                <option value="8">Radio</option>
                <option value="9">Poster or Flier</option>
                <option value="10">Other</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 form-group">
            <label>
                <span class="color-red"> * </span><input type="checkbox" name="terms"> I have read and agreed to the <a href="#" class="color-red" >Terms</a>
            </label>
        </div>
    </div>
</div>
 </div>
