<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="$hide()" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">New Tutor Request</h4>
                <div ng-show="alert.visible" class="alert {{alert.class}} fade in">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    {{alert.text}}
                </div>
            </div>
            <form name="tutorRequest" ng-submit="modal.action(tutorRequest)" novalidate>
                <div class="modal-body">
                    <div class="form-group">
                        <label>What subject do you need a tutor for?</label>
                           <select-subject
							   selected-subject="request.subject">
							</select-subject>
                                 <span style="color: #a94442" ng-class="has-error"
                                       ng-show="request.subject == undefined && tutorRequest.submitted"
                                       class="help-block">Please select a subject</span>
                    </div>
                    <div class="form-group"
                         ng-class="{ 'has-error': tutorRequest.message.$invalid &&
                                     ( !tutorRequest.message.$pristine || tutorRequest.submitted )}">
                        <label>Describe your tutoring needs?</label>
                        <textarea class="form-control" rows="4" ng-model="request.message" name="message"
                                  placeholder="Explain your need for tutoring, ask questions about availability, experience and expertise."
                                  ng-minlength="200" required></textarea>
         <span style="color: #a94442" ng-class="has-error"
               ng-show="tutorRequest.message.$invalid && (!tutorRequest.message.$pristine || tutorRequest.submitted)"
               class="help-block">This field is required and must have have at least 200 characters.</span>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
