<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" ng-click="$hide()" aria-hidden="true">&times;</button>
		<h4 class="modal-title" id="myModalLabel">{{app.tutor}}'s Application</h4>
	  </div>

	  <div class="modal-body">
		<div class="row">
		  <div class="col-md-9">
			<p>{{app.message}}</p>
			<p style="margin-top: 40px;">
        <button class="btn-u rounded btn-u-sm">Hire {{app.tutor}}</button>
        <button ng-click="studentCtrl.contactTutor()" class="btn btn-default btn-u-sm rounded"><i class="fa fa-envelope-o"></i> Contact Tutor</button>
        <button class="btn btn-default btn-u-sm rounded">View Tutor's Profile</button>
        </div>
      <div class="col-md-3" style="padding-right: 2px;">
			<div class="profile-img">
			  <img class="img-responsive profile-img margin-bottom-20"
				   style="height: 80px; width: 100px;"
				   src="../assets/img/team/5.jpg" alt="">
			</div>
			<p><a href=""><strong>{{app.tutor}}</strong></a></p>
			<p>{{app.location}}</p>
			<star-rating rating="app.avg_rating" total-ratings="app.ratings"></star-rating>
			<p><strong>Hourly Rate:</strong> ₦{{app.rate}}</p>
		  </div>

		</div>

	  </div>

	</div>
  </div>
</div>
