<div class="panel panel-default margin-bottom-40">
  <div class="panel-heading">
    <h3 class="panel-title">Tutor Requests</h3>
  </div>
  <div class="panel-body">
    <div class="row margin-bottom-10">
      <div class="col-sm-12">
        <button class="btn btn-default" ng-click="studentCtrl.newRequest()">Create New Request</button>
        <button ng-click="studentCtrl.deleteJobRequests();" style="margin-left: 10px"
                ng-show="studentCtrl.jobPaginator.selected.length > 0"
                class="btn btn-default" type="button">
          <i class="fa fa-trash-o"></i>
        </button>
        <div style="float: right" ng-if="studentCtrl.jobPaginator.total > 1">
          <span style="float: left; padding-top: 5px">
            {{studentCtrl.jobPaginator.start+1}}-{{studentCtrl.jobPaginator.end}} of {{studentCtrl.jobPaginator.total}}  </span>
          <ul style="float: left; margin: 0 5px 0 5px;" class="pager">
            <li><a ng-click="studentCtrl.jobPaginator.prevPage()" href><i class="fa fa-angle-left"></i></a></li>
            <li><a ng-click="studentCtrl.jobPaginator.nextPage()" href><i class="fa fa-angle-right"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <table class="table">
      <tr ng-if="studentCtrl.jobPaginator.total < 1">
        <td colspan="5">You currently have no tutor requests</td>
      </tr>
      <thead ng-if="studentCtrl.jobPaginator.total > 0 ">
      <tr>
        <th><input type="checkbox" 
				   ng-checked="studentCtrl.jobPaginator.masterSelect" 
				   ng-click="studentCtrl.jobPaginator.checkAll()"></th>
        <th>Subject</th>
        <th>Date Created</th>
        <th>Status</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="job in studentCtrl.jobPaginator.pageData">
        <td><input type="checkbox" ng-click="studentCtrl.jobPaginator.select(job)" ng-checked="job.checked || studentCtrl.jobPaginator.masterSelect"></td>
        <td>{{job.subject.title}}</td>
        <td>{{job.created_at | formatdate:'YYYY-MM-DD':'DD/MM/YYYY'}}</td>
        <td><span ng-if="job.satisfied === 1" class="label label-success">Fulfilled</span>
          <span  ng-if="job.satisfied === 0" class="label label-warning">Pending</span></td>
        <td>
          <button ng-show="job.applications.length > 0" ng-click="studentCtrl.viewApplications(job)" class="btn btn-default btn-xs">View Applications</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

