<div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="$hide()" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Change Password</h4>
            </div>
            <form name="chgPwdForm" ng-submit="modal.action(chgPwdForm)" novalidate>
                <div class="modal-body">
                    <div class="form-group"
                         ng-class="{ 'has-error': chgPwdForm.password.$invalid && (!chgPwdForm.password.$pristine || chgPwdForm.submitted) } ">
                        <label>Password</label>
                        <input type="password" name="password" class="form-control"
                               ng-model="student.password"
                               placeholder="Enter New Password"
                               required>
 <span ng-show="chgPwdForm.password.$invalid && (!chgPwdForm.password.$pristine || chgPwdForm.submitted)"
       class="help-block">Password is required.</span>
                    </div>
                    <div class="form-group"
                         ng-class="{ 'has-error': student.password != student.confirm_password }">
                        <label>Confirm Password</label>
                        <input type="password" name="confirm_password" class="form-control"
                               ng-model="student.confirm_password"
                               placeholder="Enter New Password Again">
                          <span ng-show="student.password != student.confirm_password"
                                class="help-block">Passwords don't match.</span>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>