<div class="modal fade in" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">{{confirmationHeader}} Password</h4>
      </div>
        <div class="modal-body">
          <p>{{confirmationBody}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
  </div>
</div>
